[package]
name = "asset-holder"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[profile.release]
overflow-checks = true

[dependencies]
solana-program = "2.3"
anchor-lang = "0.32.1"
